.body{
    font-family: Arial, sans-serif;
    background-color: #ebf0f7;
    margin: 0;
    padding: 0;
}

#main {
    margin: 15% 0 0 0;
}

#right {
    
    padding: 30px;
    margin: 0 10% 0 0 ;
    background-color: transparent;
    float: right;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    border-radius: 8px;
}

#left {
    height: 300px;
    width: 300px;
    margin: 0 0 0 10%;
    background-color: transparent;
    float: left;
    
    border-radius: 8px;
}


#tab {
    margin-top: 50px;
}

#tab img {
    width: 5px;
    height: 5px;
}

.txn {
    height: 30px;
    width: 285px;
    border: 2px solid rgb(158, 158, 235);
    background-color: transparent;
    border-radius: 5px;
    color: blue;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 15px;
}

.btn1 {
    width: 100%;
    background-color: #1877f2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #166fe5;
}

.forget_password {
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
    margin-left: 95px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 2px;
    
}

.btn2 {
    
    background-color: #42b72a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 85px;
}

.btn2:hover {
    background-color: #3aa623;}

